p {
    color: rgb(253, 255, 124);
    width: 500px;
    font-size: 150px; 
    font-family: Courier, "Lucida Console", monospace ;
    text-align: center; 
  }
q {
    color:blue;
  }
html {
    background-color: #eda6ff;
  }
div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
